.over {
    background-color: #141925;
    height: 1200px;
}

.about-pic {
position: absolute;
width: 166px;
height: 166px;
left: 45%;
top: 180px;

    
}


.intro {
    margin-left: 200px;
    margin-top:-1050px;
    margin-right:55%;
    
    font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 80px;
/* identical to box height */


color: #C1C3CC;

}

.body {
    margin-top:65px;
    margin-left:320px;
    margin-right: 12%;
    font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;

color: #C1C3CC;

}

.body1 {
    background-color: #141925;
    margin-top:25px;
    margin-left:320px;
    margin-right: 12%;
    font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;

color: #C1C3CC;

}

.body2 {
    background-color: #141925;
    margin-top:25px;
    
    font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;

color: #C1C3CC;
margin-left:320px;
margin-right: 12%;
}
